
.intro{
    display: none;
}
.card:hover .intro{
    display: block;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    padding: 16px;
    background: rgba(27, 27, 27, .5);
}
.card{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}
.card:hover{
    transform: scale(1.3);
    z-index: 2;
}